// DARK MODE
$darkMode: #1F1F1F;
$darkColor: #fff;
$focusColor3: #343434;

// LIGH MODE
$lightMode: #264C72;
$lightColor: #bebebe;
$focusColor2: #d4dbe3;

// COLOR
$shadowColor:   0 0 10px rgba(0,0,0,0.22), 
                0 0 30px rgba(0,0,0,0.30);
