@import "variables";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* header style */

nav {
    display: flex; align-items: center;
    justify-content: space-around;
    height: 10vh;

    .navLogo {
        height: 40px;
    }

    .nav-Menu {
        list-style: none;
        gap: 40px;

        
        li {
            transition: transform .2s;

            &:hover {
                transform: scale(1.1);
            }
        }

        a {
            text-decoration: none;
            color: $lightColor;
            letter-spacing: 1.5px;

            &:hover {
                color: $lightMode;
                font-weight: 600;
            }
        }

        .active {
            color: $lightMode;
            font-weight: 600;
            text-transform: uppercase;
        }

    }

    .mobile-menu-icon {
        display: none;
    }
}

header {
    .mobile-menu {
        display: none;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $focusColor2;
    transition: .4s;
    border-radius: 34px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 5px;
    bottom: 2.5px;
    background-color: $lightMode;
    transition: .4s;
    border-radius: 50%;
}
  
input:checked + .slider {
    background-color: $darkColor;
}
  
input:checked + .slider:before {
    transform: translateX(22px);
    background-color: $darkMode;
}

.dark-mode {
    display: flex; gap: 10px;
    flex-direction: row;
    align-items: center;

    i {
        color: $lightMode;
    }
}

/* menu mobile*/


/* Dark Theme */

body.dark-theme {
    background-color: $darkMode;
    transition: 0.5s;
}

body.dark-theme .navLogo {
    color: $darkColor;
}

body.dark-theme .nav-Menu {

    a {
        color: $darkColor;
        opacity: 0.2;

        &:hover {
            opacity: 1;
        }
    }

    .active {
        color: $darkColor;
        opacity: 1;

        &:hover {
           opacity: 0.2;
        }
    }
}

body.dark-theme .main-container {
    background-color: $focusColor3;
}

body.dark-theme .main-container h1
 {
  color: $darkColor;
}

body.dark-theme .main-container .button {
    color: $darkMode; font-weight: 700;
    background-color: $darkColor;

    &:hover {
        background-color: $darkMode;
        color: $lightColor;
        cursor: pointer;
    }
}

body.dark-theme .main-container p {
    color: $darkColor;
    opacity: 0.7;
}

body.dark-theme .dark-mode i {
    color: $darkColor;
}

body.dark-theme .main-social {
    background-color: $darkMode;
    
    i {
    color: $lightColor;
    }
}

/* section style */

main {
    width: 100%;
    padding: 20px 40px;

    .main-container {
        background-color: $focusColor2;
        width: 100%; height: 100%; border-radius: 50px;
        display: flex; align-items: center;
        justify-content: space-around;
        position: relative;
    }

    .main-content {
        height: 100%; width: 550px;
        padding: 0 20px;
        display: flex; align-items: start;
        flex-direction: column;
        justify-content: space-evenly;

        h1 {
            color: $lightMode; font-size: 4.8rem;
            text-transform: uppercase; line-height: 5.5rem;
            font-weight: 900; letter-spacing: 0.4rem;
        }

        p {
            font-size: 1.3rem; color: $lightMode;
            font-weight: 300; text-indent: 15px;
        }

        .button {
            text-decoration: none; letter-spacing: 0.1rem;
            background-color: $lightMode; color: $darkColor;
            padding: 20px 50px; border-radius: 25px;
            font-weight: 600; font-size: 1.5rem;

            &:hover {
                background-color: $darkColor;
                color: $lightMode;
                cursor: pointer;
            }
        }

    }

    .main-image {
        height: 100%;
        padding: 10px 0 0 0;

        img {
            height: 100%;
        }

    }

    .main-social {
        position: absolute; 
        background-color: $lightMode;
        right: -25px; bottom: 200px;
        padding: 30px 25px; border-radius: 25px;
        display: flex; align-items: center;
        flex-direction: column; gap: 15px;
        cursor: pointer; box-shadow: $shadowColor;

        i {
            color: $darkColor;
            font-size: 1.3rem;
            transition: transform .2s;

            &:hover {
                transform: scale(1.3);
            }
        }
    }
}


// responsive style

@media (max-width: 949px) {

    main {
        height: 82.10vh;
    }

    nav .nav-Menu {
        display: none;
    }
    
    .main-container {
        padding: 0; justify-content: center;
        flex-direction: column;  overflow: hidden;

        .main-content {
            width: 100%; padding: 30px 25px 0 25px;
            justify-content: center; 
            gap: 30px; z-index: 2;

            h1 {
                font-size: 2.5rem;
                line-height: 3rem;
            }
            p {
                font-size: 1rem;
                text-indent: 10px;
                width: 84%;
            }
            .button {
                padding: 15px 50px; border-radius: 25px;
                font-weight: 400; font-size: 1rem;
                
            }
        }

        .main-image {
            position: absolute; opacity: 0.15;
            bottom: 0; right: 5px;
            height: 55%; z-index: 1;
        }

        .main-social {
            right: -20px; bottom: 180px;
            z-index: 2; overflow: auto;
        }
    }

}

@media (min-width: 950px) {

    main {
        height: 90vh;
    }

    nav .nav-Menu {
        display: flex; align-items: center;
        flex-direction: row;
    }
    
    .main-container {
        padding: 0; justify-content: center;
        flex-direction: column; 

        .main-content {
            width: 100%; padding: 30px 0 0 50px;
            justify-content: center; 
            gap: 30px; z-index: 1;

            h1 {
                font-size: 3.7rem; 
                line-height: 4rem;
            }
            p {
                font-size: 1rem;
                text-indent: 10px;
                width: 60%;
            }
            .button {
                padding: 15px 40px; border-radius: 25px;
                font-weight: 400; font-size: 1rem;
                
            }
        }

        .main-image {
            position: absolute; opacity: 1;
            bottom: 0; right: 20px;
            height: 66%; z-index: 2;
        }

        .main-social {
            right: -10px; bottom: 150px;
            z-index: 2;
        }
    }

}
